.list-todo-container{
  button{
    cursor: pointer;
  }
  .add-todo{
    .btn-add{
      color:azure;
      background:cadetblue;
      margin: 0 10px;
      cursor: pointer;
    }
  }
  .list-todo-content{
    width: 400px;
    margin: 0 auto;

    .todo-child{
      &:first-child{
        border-top: 1px solid gray;
      }

      height: 40px;
      border-bottom: 1px solid gray;
      margin: 10px;

      .edit{
        margin: 0 10px;
      }
    }
  }
}